/iVerdi/verdiLog/*
/iVerdi/vcd2fsdbLog/*
/iVerdi/novas.*
*.fsdb
*.vcd
*.vvp
iVerdi/vcs_work*
FPGA/project_riscv_npu.xpr/project_riscv_npu/*
!FPGA/project_riscv_npu.xpr/project_riscv_npu/project_riscv_npu.srcs
FPGA/project_riscv_npu.xpr/project_riscv_npu/project_riscv_npu.srcs/sources_1/bd
